{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Accounts{% endblock %}

{% block content %}

    <div class="page-header">
        <h3>Accounts</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
    {% for account in accounts %}
        {% set serverlabel = "success" %}
        {% if account.servertype == "Demo" %}
            {% set serverlabel = "info" %}
        {% endif %}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">AccountID: {{ account.accountid }}</div>
                <div class="panel-body">
                    <h4>
                        <span class="label label-{{ serverlabel }}">{{ account.servertype }}</span>
                        <span>Balance: {{ account.currency }} {{ account.balance }} </span>
                    </h4>

                    <p>Open Trades: <span class="badge">{{ account.openTrades }}</span></p>

                    <p>Open Orders: <span class="badge">{{ account.openOrders }}</span></p>
                    <a class="btn btn-warning" href="{{ base_url() }}{{ path_for('editaccount',{'uid': account.id}) }}">
                        Update
                    </a>
                </div>
            </div>
    </div>
    {% endfor %}
    </div>
    <div>
        <a class="btn btn-success" href="{{ base_url() }}{{ path_for('editaccount',{'uid': 'new'}) }}">
            Create New account
        </a>
    </div>
    <br/><br/>

{% endblock %}