{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Rotas{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>Admin Home</h3>
</div>
    <div>
        <a class="btn" href="{{ base_url() }}{{ path_for('users') }}">Manage Users</a>
    </div>
<div>
    <a class="btn" href="{{ base_url() }}{{ path_for('adminstrategies') }}">Manage Strategies</a>
</div>
<br/><br/>

{% endblock %}