{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Profile{% endblock %}

{% block content %}
    <div class="page-header">Profile</div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">AccountID: {{ fullname }}</div>
            <div class="panel-body">
                <p> Email: {{ email }}</p>
                <a class="btn btn-success" href="{{ base_url() }}{{ path_for('edituser',{'username': hashemail}) }}">
                    Update
                </a>
            </div>
        </div>
    </div>

<br/><br/>

{% endblock %}