{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Profile{% endblock %}

{% block content %}
<div>
    <h2>Identity</h2>
    <p> Email: {{ email }}</p>
    <p> Fullname: {{ fullname }}</p>
    <a class="btn" style="background: #3498db;color: #ffffff;" href="{{ base_url() }}{{ path_for('edituser',{'username': hashemail}) }}">
        Update
    </a>
</div>
<br/><br/>

{% endblock %}