{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Queues{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>Queues Index</h3>
    </div>
    <div>
        <a class="btn" href="{{ base_url() }}{{ path_for('adminjobqueue') }}"><h2><span
                        class="label label-info">Jobs <span class="badge">{{ nojobs }}</span> </span></h2></a>
    </div>
    <div>
        <a class="btn" href="{{ base_url() }}{{ path_for('adminworkers') }}"><h2><span class="label label-info">Workers <span
                            class="badge">{{ noworkers }}</span> </span></h2></a>
    </div>


    <br/>

{% endblock %}