{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Queues{% endblock %}

{% block content %}
    <div>
        <a class="btn" href="{{ base_url() }}{{ path_for('adminqueues') }}">View JobQueues Index</a>
    </div>
    <div class="page-header">
        <h3>Queues / Jobs</h3>
    </div>
    {% for queue in queues %}
        <div class="row">
        <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Queue: {{ queue.name }}</div>
            <div class="panel-body">
                <p>Jobs: <span class="badge">{{ queue.size }}</span></p>

                <div class="panel-group" id="{{ queue.name }}">
                    {% for job in queue.jobs %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ queue.name }}"
                                       href="#{{ job.id }}">{{ job.class }}</a>
                                </h4>
                            </div>
                            <div id="{{ job.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ dump(job.args.0) }}
                                </div>
                            </div>
                            </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <br/><br/>

{% endblock %}