{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Recommendations{% endblock %}

{% block content %}
    <div>
        <a class="btn" href="{{ base_url() }}{{ path_for('adminstrategies') }}">View Strategies Index</a>
    </div>
    <div class="page-header">
        <h3>Recommendations</h3>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="panel-body">
                <table class="table table-striped">
                <thead><tr>
                <th>Instrument</th>
                <th>Signal</th>
                <th>Side</th>
                <th>Entry</th>
                <th>Stop</th>
                <th>Risk:Reward</th>
                <th>Gran</th>
                <th>Expires</th>
                </tr></thead>
                <tbody>
                {% for reco in recommendations %}
                <tr><td>{{ reco.instrument }}</td>
                    <td>{{ reco.signal }}</td>
                    <td>{{ reco.side }}</td>
                    <td>{{ reco.entry }}</td>
                    <td>{{ reco.stopLoss }}</td>
                    <td>1:{{ reco.rr }}</td>
                    <td>{{ reco.gran }}</td>
                    <td>{{ reco.expiry }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
        <br/>
    <br/><br/>

{% endblock %}