{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Strategy{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <div style="text-align: left">
        <a class="btn" style="background: #3498db;color: #ffffff;" href="{{ base_url() }}{{ path_for('adminstrategies') }}">
            Strategies
        </a>
    </div>
    <div>
    <form class="form-signin well well-sm" role="form" name="strategy" id="strategy" method="post">
        <h2 class="form-signin-heading">Manage Account</h2>
        <input type="text" name="name" class="form-control" placeholder="name" value="{{ strategy.name }}" required>
        <input type="text" name="description" class="form-control" placeholder="description" value="{{ strategy.description }}" required>
        <select name="strategyexit">
            <option value="1">1%</option>
            <option value="3">3 Bar</option>
            <option value="2">signal custom</option>
        </select>
        <select name="signal">
            {% for signal in signallist %}
                <option value="{{ signal }}">{{ signal }}</option>
            {% endfor %}
        </select>
        <input type="text" name="params" class="form-control" placeholder="params" value="{{ strategy.params }}" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>
    </div>
    <br/><br/>

{% endblock %}

{% block javascript %}

{% endblock %}