{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ base_url() }}/css/jquery.simplecolorpicker.css">
{% endblock %}

{% block content %}

    <form class="form-signin well well-sm" role="form" name="login" id="login" method="post">
        <h2 class="form-signin-heading">Edit User</h2>
        <input type="text" name="username" class="form-control" placeholder="email" value="{{ user.email }}" autofocus required>
        <input type="password" name="userpassword" class="form-control" placeholder="Password" >
        <input type="text" name="userfullname" class="form-control" placeholder="fullname" value="{{ user.fullname }}" required>
        {% if identity.role == 'ADMIN' %}
        <input type="text" name="userrole" class="form-control" placeholder="role" value="{{ user.role }}" >
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>
    <br/><br/>

{% endblock %}

{% block javascript %}
    <!-- simple colorpicker -->
    <script src="{{ base_url() }}/scripts/jquery.simplecolorpicker.js"></script>
<script>
    //$('select[name="color"]').simplecolorpicker();
    $('select[name="colour"]').simplecolorpicker('selectColor', '{{ colour }}');
    //$('select[name="color"]').simplecolorpicker('destroy');
//    $('select[name="color"]').simplecolorpicker({
//        picker: true
//    }).on('change', function() {
//        $(document.body).css('background-color', $('select[name="color"]').val());
//    });
</script>
{% endblock %}